*.log
output_h5/
outputs/
helper/
results/
results_aligned/
postprocessing_test/
*.npy
*.h5
*.gz
figure/
demos/
README.md
.vscode/
configs/MitoEM/
ap_vs_iou_curve.png
phi_map_0626_slices.zip
phi_map_0714_slices.zip
phi_map_0714_slices/
phi_map_0909_slices.zip
phi_map_0909_slices/
theta_map_0626_slices.zip
theta_map_0714_slices.zip
theta_map_0714_slices/
theta_map_0909_slices.zip
theta_map_0909_slices/
theta_map_no_nan_0625_slices.zip
theta_map_no_nan_0625_slices/
theta_map_no_nan_slices.zip
theta_map_no_nan_slices/
volume_int_map_1202_slices.zip
volume_int_map_1202_slices/
volume_map_0628_slices/
volume_map_0630_slices.zip
volume_map_0630_slices/
volume_map_0714_slices.zip
volume_map_0714_slices/
volume_map_1201_slices/
volume_map_1202_slices.zip
volume_map_1202_slices/
scripts.txt